%nav.overlook
  %h3 Collections
  %ul.collection.menu
    %li 
      <a href="#">App Servers</a>
      %ul.graphs{:style => 'display:none;'}
        %li CPU
        %li Memory
        %li Disk I/O
        %li Net Traffic
    %li
      <a href="#">DB Servers</a>
  %h3 Servers
  %ul.servers.menu
    %li 
      <a href="#">app1.example.com</a>
    %li
      <a href="#">app2.example.com</a>
    %li
      <a href="#">db1.example.com</a>
    %li
      <a href="#">db1.example.com</a>

#graphs
  .graph-container
    .controls

:erb
  <% content_for :footer do %> 
    <script type="text/javascript">
    $(function() {

      <% @graphs.each_with_index do |graph, i| %>
        $container = $('<div id="<%= graph.dom_id %>" />');
        $('#graphs > .graph-container').append($container);
        var graph_<%= i %> = new Graph('<%= graph.type %>', {
          title: '<%= graph.title %>',
          domId: '<%= graph.dom_id %>'
        });
        <% graph.data_sources.each do |ds| %>
          graph_<%= i %>.addDataSource('<%= ds.label %>', <%= ds.as_json %>);
        <% end %>
        graph_<%= i %>.render();
      <% end %>
    });
    </script>
  <% end %>
